node_modules
npm-debug.log
.next
.env
.env.local
.env.production.local
.env.development.local
.git
.gitignore
README.md
.DS_Store
coverage
.vscode
.idea
*.log
src/**/*.test.tsx
src/**/*.test.ts
src/**/*.spec.tsx
src/**/*.spec.ts
.github
.gitlab-ci.yml
docker-compose.yml
Dockerfile
.dockerignore
playwright-report
test-results
